
.loginpage{
    background-image: linear-gradient(to bottom right,rgb(140, 176, 255) , #ffef5c);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wraper{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.form{
    width: 30rem;
    height: 60vh;
    background-color: rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
    border: 3px solid #ffef5c;
    direction: rtl;
    gap: 1rem;
    font-size: large;
    padding: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
}
.input{
    width: 98%;
    height: 1.90rem;
    border: none;
    border-radius: 5px;

}
.btn{
   display: flex;
   justify-content: center;
   gap: 1rem;
   margin-top: 1.70rem;

}
.logo{
    width: 6rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 9rem;
}
.para{
    font-size: 0.8rem;
    color: red;
}