.wrapperCard{
    width: 14rem;
    height: 15rem;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 1px 1px 2px 2px blue,  3px 3px 3px 3px #ffef5c,2px 2px 3px 3px rgb(134, 134, 134);
   
}
.wrapperCard:hover{
    border: 2px solid rgb(7 68 199);
}
.cardImg{
    width: 78%;
    height: 40%;
    padding: 1rem;
}
.cardPara{
    color: rgb(65, 65, 65);
    font-size: 0.8rem;
    direction: rtl;
    padding-right: 1rem;
    padding-top:0.7rem ;
}
.wrapperData{
    background-color: aliceblue;
    width: 13.5rem;
    height: 8rem;
}