.ProductDetail {
  width: 100%;
  height: 85vh;
  background-image: radial-gradient(circle, rgb(245, 245, 245), rgb(223, 223, 223), rgb(190, 210, 255));
  display: flex;
  gap: 8rem;
  align-items: center;
  justify-content: center;
}
.wraperthumbnail{
    width: 20rem;
    height: 14rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.wraperImages{
    width: 20rem;
    height: 8rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.allImages{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 2rem;
}
.wraperAllData{
    width: 33rem;
    height: 14rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 1rem; 
    gap: 0.15rem;
    border-radius: 5px;
  
}
.thumbnailImage{
    width: 76%;
    height: 80%;
   
}
.Image{
    width: 5rem;
    height: 6rem; 
}
.name{
    color:  rgb(7 68 199);
    font-size: 1.1rem;

}
.price{
    color: red;
  font-size: 1rem;
}
.brand{
    font-size: 1.05rem;
}
/* .desc{
  
} */
.wraperBtn{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 8rem;
}