.wraper_products{
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    height: 85.5vh;
    background-color: aliceblue;
    padding: 3rem;
    overflow-y: scroll;
}
.wraper_products::-webkit-scrollbar {
    border-radius: 7px;
    background:aliceblue; 
    border: 1.5px solid rgb(210, 210, 210); 
    scrollbar-width: thin;
    background: transparent;        
  }