
 .table{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  direction: rtl;
   width: 800px;
  margin: auto;
}
.border{
border: 1px solid #ffef5c;
background-color:rgb(198, 215, 255) ;
}
td {
  text-align: center;
  
}
.th{
  color: rgb(101, 101, 101);
  text-align: center;
}

.paginate{
  list-style: none;
  display: flex;
  gap: 1rem;
 color: rgb(74, 74, 74);
 text-decoration: none;
}

