/* 
.add{
    margin: 4rem;
 }
 .main{
    display: flex;
    justify-content: flex-end;
     padding-top: 6rem;
      gap: 3rem;
    height: 88vh;
    background-color: rgb(190, 210, 255);
 } */
 .main{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 88vh;
   background-image: radial-gradient(circle, rgb(255, 255, 255), rgb(223, 223, 223), rgb(190, 210, 255));
   padding-top: 2rem;
}
